<mat-card class="overviewcard">
  <mat-card-header>
      <mat-card-title>Transaction History</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <form *ngIf="transactiondetails; else loading" [formGroup]='TransactionDetailsForm'>
      
  <mat-card-content>
      <div formArrayName="details">
    <table class="w100perc">
      <thead>
        <th align="left">Transaction ID</th>
        <th align="left">Account Number</th>
        <th align="left">Transaction Status</th>
      </thead>
       <tr *ngFor="let detail of transactionList; let $i=index" [formGroupName]="$i">
      <td class="bold">
        {{detail.transactionid}}</td> 
        <td class="bold">{{detail.accountnumber }} 
      </td>
      <td class="pL20 pT5px">
        {{detail.TransactionStatus}}
        </td>
    </tr>
    
    </table>
  </div>
    </mat-card-content>
  </form>
    </mat-card>
    

